


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #18171f;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}



/************************************* Header styling***************************************/



/* Header styling*/


.header{
    width: 100%;
    position: fixed;
    z-index: 10;
    margin: 0 auto;
    
    
    
}


nav{
    background-color: rgba(4, 4, 6, 0.4);
   
}
nav img{
    background-color: #fff;
    height: 40px;
    width: 60px;
    animation-name: pop;
    animation-duration: 10s;
    
}

@keyframes pop {
    0%{background-color: #a4c3b2;}
    25%{background-color: green;}
    50%{background-color: red;}
    75%{background-color: #3c6e71;}
    100%{background-color: #284b63;}
}

nav ul{
    list-style-type: none;
    padding: 10px;
    justify-content: space-between;

    
}

nav a{
    font-family: calibri, sans-serif;
    
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    color: #f9f9f9;
    display: block;
    padding: 10px;
}

nav a:hover{
    background-color: #028090;
    border-radius: 15px 15px 15px 15px;
    animation-name: pop;
    animation-duration: 10s;

}





/*Main styling*/
    
.content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    margin: 0 auto;
   
    
    
}



.content article{
    width: 70%;
    height: 500px;
    
    margin: 0 auto;
    
}

.content img{
  width: 30%;
  height: 500px;
  

  
 
}


.welcome-video{
    width: 100%;
    background:  #18171f;
    margin: 0 auto;
   
    padding-top: 34px;
    
    
    
}

.welcome-video video{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    
    
}



/*All section styling*/

section{
 
  
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;

  margin: 0 auto;
 /* animation-name: aniS;
  animation-duration:  8s;*/
 
 
}
/**
@keyframes aniS {
    0%{background-color: white; border-radius: 50% 50% 50% 50%}
    25%{background-color: yellow; left: 300px; top: 0px;}
    50%{background-color: white;}
    75%{background-color: yellowgreen;}
    100%{background-color: white;}
    
}
**/
section p{
    font-family: calibri, sans-serif;
    font-style: oblique;
    font-size: 17px;
    font-weight: lighter;
    line-height: 35px;
    letter-spacing: 1;
    word-spacing: 0.5;
    text-align: start;
    color: #f0f0f0;
   
}

section .btn{
  padding: 10px;
  margin: 20px;
  
  box-sizing: border-box;
 

}

section .btn a{
 
  text-decoration: none;
  font-family: calibri, sans-serif;
  font-style: oblique;
  text-decoration: none;
  
  text-align: center;
  color: #bac8e2;
  padding: 10px;
  
  

}

section .btn:hover{
    background-color: black;
    
    border-radius: 100%;
}


/************************************* About Me ***************************************/
 /* About  me page styling*/ 
 article{
    
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    
   
}

.content-experience{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    margin: 0 auto;

}

.content-education{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    margin: 0 auto;

}


  .experience{
      width: 30%;
      font-family: calibri;
      
      
      list-style-type: none;
  }


  .experience li{
    font-family:  calibri;
    
    
    list-style-type: none;
    display: block;
    
}


.experience li h3{
    font-family:  calibri;
    
    
    text-decoration: underline;
    
    color: #ffffff;
}

.experience ul{
   
    font-family: calibri, sans-serif;
    list-style-type: none;
    color: #ffffff;
   
}
.education{
      width: 70%;
      font-family: calibri, sans-serif;;
      list-style-type: none;
     

}

.education li{
    font-family: calibri, sans-serif;
    list-style-type: none;
    
    display: block;
    color: #ffffff;
}

.education li h3{
    font-family:  calibri;
    
    text-decoration: underline;
    
    color: #ffffff;
}

.education ul{
    font-family: calibri, sans-serif;;
    list-style-type: none;
    
    
}



/************************************* Contact Me***************************************/


/* Contact page styling*/
.welcome-image{
    width: 100%;
    
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 68px;
    margin: 0 auto;
    
    
    
    
}

.welcome-image img{
    width: 100%;
    
    background: #f0f0f0;;
    margin: 0 auto;
    
    align-self: center;
    
}




article{
   
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
   
}

article h1{
    font-family: calibri, sans-serif;
    color: #f0f0f0;
    text-align: center;
    
    
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;

}

article h2{
    font-family:  calibri, sans-serif;
    
    text-align: center;
    
    
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 20px;
    color: #f0f0f0;

}


.form{
    width: 800px;
    
    
    margin: auto;
    
    border-radius: 15px 15px 15px 15px;
    
    
    
    height: 400px;
    
    text-align: left;
    font-family: calibri, sans-serif;
    font-style: oblique;
            
  }

  .form label, input,textarea{
    
      width: 100%;
      padding: 8px;
      margin-top: 8px;
      
  }

  .form label{
    text-transform: capitalize;
    margin-left: 2px;
    
    color: #f0f0f0;
    font-size: 18px;
    font-weight: 300;
    
}



  .form input, textarea{
      border: 2px solid #d3d3d3;
      background-color: #fff;
     
      margin: 0.3rem 0;
      border-radius: 5px;
      text-transform: uppercase;
      cursor: pointer;
     
     
  }

.contact{
      border-radius: 15px 15px 15px 15px;
      font-family: calibri, sans-serif;
      font-weight: 700;
      margin: auto 5px;
      height: 400px;
     
     
  }
.contact li{
    font-family: calibri, sans-serif;
    font-style: oblique;
    color: #f0f0f0;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
}

.contact ul{
    font-family: calibri, sans-serif;
    color: #f0f0f0;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
}



/************************************* Footer***************************************/

.footer{
    width: 100%;
    display: flex;
    text-align: center;
      
    background-color: rgba(4, 4, 6, 0.8);
    
    margin: 0 auto;
    color: #f0f0f0;
   
}

.footer li i{
    padding: 10px;
    margin: 0 auto;
    color: #f9f9f9;
}

.footer li i:hover{
    background-color: #bac8e2;
    border-radius: 10px 10px 10px 10px;
}




 

/*Media query*/

@media screen and (min-width: 768px){
/* Header styling*/
    nav ul{
        display: flex;
        justify-content: flex-end;
    }

  nav{
      display: flex;
      justify-content: space-between;
  }
    
}


/* All welcome images styling*/








/* Article heading styling*/ 





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #18171f;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}



/************************************* Header styling***************************************/



/* Header styling*/


.header{
    width: 100%;
    position: fixed;
    z-index: 10;
    margin: 0 auto;
    
    
    
}


nav{
    background-color: rgba(4, 4, 6, 0.4);
   
}
nav img{
    background-color: #fff;
    height: 40px;
    width: 60px;
    animation-name: pop;
    animation-duration: 10s;
    
}

@keyframes pop {
    0%{background-color: #a4c3b2;}
    25%{background-color: green;}
    50%{background-color: red;}
    75%{background-color: #3c6e71;}
    100%{background-color: #284b63;}
}

nav ul{
    list-style-type: none;
    padding: 10px;
    justify-content: space-between;

    
}

nav a{
    font-family: calibri, sans-serif;
    
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
    color: #f9f9f9;
    display: block;
    padding: 10px;
}

nav a:hover{
    background-color: #028090;
    border-radius: 15px 15px 15px 15px;
    animation-name: pop;
    animation-duration: 10s;

}





/*Main styling*/
    
.content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    margin: 0 auto;
   
    
    
}



.content article{
    width: 70%;
    height: 500px;
    
    margin: 0 auto;
    
}

.content img{
  width: 30%;
  height: 500px;
  

  
 
}


.welcome-video{
    width: 100%;
    background:  #18171f;
    margin: 0 auto;
   
    padding-top: 34px;
    
    
    
}

.welcome-video video{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    
    
}



/*All section styling*/

section{
  display: flex;
  
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;

  margin: 0 auto;
 /* animation-name: aniS;
  animation-duration:  8s;*/
 
 
}
/**
@keyframes aniS {
    0%{background-color: white; border-radius: 50% 50% 50% 50%}
    25%{background-color: yellow; left: 300px; top: 0px;}
    50%{background-color: white;}
    75%{background-color: yellowgreen;}
    100%{background-color: white;}
    
}
**/
section p{
    font-family: calibri, sans-serif;
    font-style: oblique;
    font-size: 17px;
    font-weight: lighter;
    line-height: 35px;
    letter-spacing: 1;
    word-spacing: 0.5;
    text-align: start;
    color: #f0f0f0;
   
}

section .btn{
  padding: 10px;
  margin: 20px;
  background-color: #83bb21;
  box-sizing: border-box;

}

section .btn a{
 
  text-decoration: none;
  font-family: calibri, sans-serif;
  font-style: oblique;
  text-decoration: none;
  
  text-align: center;
  color: #bac8e2;
  padding: 10px;
  
  transition-duration: 3s;

}

section .btn:hover{
    background-color: black;
    
    border-radius: 100%;
}


/************************************* About Me ***************************************/
 /* About  me page styling*/ 
 article{
    
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    
   
}




  .experience{
      width: 30%;
      font-family: calibri;
      
      padding: 2px;
      margin: 2px;
      list-style-type: none;
  }


  .experience li{
    font-family:  calibri;
    
    padding: 2px;
    margin: 2px;
    list-style-type: none;
    display: block;
    
}


.experience li h3{
    font-family:  calibri;
    
    padding: 2px;
    margin: 2px;
    text-decoration: underline;
    
    color: #ffffff;
}

.experience ul{
   
    font-family: calibri, sans-serif;
    list-style-type: none;
    color: #ffffff;
    padding: 2px;
    margin: 2px;
}
.education{
      width: 70%;
      font-family: calibri, sans-serif;;
      list-style-type: none;
      
      padding: 2px;
      margin: 2px;

}

.education li{
    font-family: calibri, sans-serif;
    list-style-type: none;
    padding: 2px;
    margin: 2px;
    display: block;
    color: #ffffff;
}

.education li h3{
    font-family:  calibri;
    
    text-decoration: underline;
    
    color: #ffffff;
}

.education ul{
    font-family: calibri, sans-serif;;
    list-style-type: none;
    
    padding: 2px;
    margin: 2px;
}



/************************************* Contact Me***************************************/


/* Contact page styling*/
.welcome-image{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 68px;
    margin: 0 auto;
    
    
    
    
}

.welcome-image img{
    width: 100%;
    height: 350px;
    background: #f0f0f0;;
    margin: 0 auto;
    
    align-self: center;
    
}




article{
   
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
   
}

article h1{
    font-family: calibri, sans-serif;
    color: #f0f0f0;
    text-align: center;
    
    
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;

}

article h2{
    font-family:  calibri, sans-serif;
    
    text-align: center;
    
    
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 20px;
    color: #f0f0f0;

}


.form{
    width: 800px;
    
    
    margin: auto;
    
    border-radius: 15px 15px 15px 15px;
    
    
    
    height: 400px;
    
    text-align: left;
    font-family: calibri, sans-serif;
    font-style: oblique;
            
  }

  .form label, input,textarea{
    
      width: 100%;
      padding: 8px;
      margin-top: 8px;
      
  }

  .form label{
    text-transform: capitalize;
    margin-left: 2px;
    
    color: #f0f0f0;
    font-size: 18px;
    font-weight: 300;
    
}



  .form input, textarea{
      border: 2px solid #d3d3d3;
      background-color: #fff;
     
      margin: 0.3rem 0;
      border-radius: 5px;
      text-transform: uppercase;
      cursor: pointer;
     
     
  }

.contact{
      border-radius: 15px 15px 15px 15px;
      font-family: calibri, sans-serif;
      font-weight: 700;
      margin: auto 5px;
      height: 400px;
     
     
  }
.contact li{
    font-family: calibri, sans-serif;
    font-style: oblique;
    color: #f0f0f0;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
}

.contact ul{
    font-family: calibri, sans-serif;
    color: #f0f0f0;
    font-weight: 700;
    padding: 10px;
    margin: 10px;
}



/************************************* Footer***************************************/
.footer{
    width: 100%;
    display: flex;
    text-align: center;
      
    background-color: rgba(4, 4, 6, 0.8);
    
    margin: 0 auto;
    color: #f0f0f0;
   
}

.footer li i{
    padding: 10px;
    margin: 0 auto;
    color: #f9f9f9;
}

.footer li i:hover{
    background-color: #bac8e2;
    border-radius: 10px 10px 10px 10px;
}




















